name: Mirror to GitLab (main only)

on:
  push:
    branches:
      - "main"

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GITLAB_SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan gitlab.com >> ~/.ssh/known_hosts

      - name: Push to GitLab
        run: |

          git remote remove gitlab 2>/dev/null || true
          
          # Crear remote limpio
          git remote add gitlab git@gitlab.com:milagrosgoiris42/pedidos_lumen.git

          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

          #  Forzar mirror de main
          git push --force gitlab main
